<%- include header %>
	<div class="col-md-6 col-md-offset-3 first" >
 		<form method="post" class="well form-inline center" > 			
 			标题:<br/>
 			<input type = "text" name="title"/><br/>
 			正文：<br/>
 			<textarea name="post" rows="10" cols="80"></textarea><br/>
 			<button type="sumbit" class="btn btn-success" >发表</button>
 		</form>
	</div>
<%- include footer %>